#yellow-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  color: black;
  padding: 3px;
}
#main-header {
  margin-top: 40px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0rem;
}
.subheader {
  font-size: 16px;
  font-weight: 400;
}

h3,
.highlight {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 0 6px;
}

section {
  margin-bottom: 2rem;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  background-color: black;
  color: yellow;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px black solid;
  padding-bottom: 2px;
}
.space-letters-sm {
  letter-spacing: 1px;
}

.highlight {
  margin-right: 10px;
  background-color: black;
  color: white;
  padding: 3px 6px;
  font-weight: bold;
}

.highlight-alt {
  margin-right: 0px;
  background-color: yellow;
  padding: 4px 7px;
  font-weight: bold;
}

/* Add to your CSS file */
.country-list {
  list-style: none;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  gap: 0;
}
.country-list li {
  font-size: 24px;
}


.subtitle {
  padding-left:4px;
}

.form-container {        
  width: 100%;
  max-width: 500px;
  border:1px solid;
  box-sizing: border-box;
  border: 0px solid;
  display: flex;

  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: flex-start; /* align items to the left */
  text-align: center;
}

.form-header {
  margin-right: 0px;
  margin-bottom: 35px;
  margin-top: 10px;
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 100%; /* match form width */
  border: 0px solid black; /* optional for testing layout bounds */
  
}

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 0px solid;
  margin-bottom: 18px;
}

.email-input,
.submit-button {
  flex: 1;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}

.submit-button {
  background-color: yellow;
  font-weight: bold;
  color: black;
  opacity: 0.95;
  cursor: pointer;
}

.email-input {
  border-bottom: 1px solid black;
}

.submit-button:hover {
  background-color: black;
  color: yellow;
}

.form {
  display: flex;
  gap: 0.75em;
  width: 100%;
  flex-wrap: wrap;
}

.release-notification {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
  background:#00b4ff;
  color: white;
  margin-top: 0;
  padding: 0.4rem;
  padding-left: 10px; 
}

/** one-off styling **/
.geurilla {
  display: inline-block;
}

.error-msg {
  background-color: red;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  width: 100%;
  margin-top: 25px;
  text-align: left;
  padding-left: 12px;
  letter-spacing: 0.5px;
}

/* mobile adjustments */
@media (max-width: 600px) {
  #main-header {
    margin-top: 0;
  }
  .email-input,
  .submit-button,
  .error-msg
  .form-header {
    width: 100%;
  }
  .form {
    flex-direction: column;
    gap: 1.5rem;
  }
  .form-container {
    margin-bottom: 20px;
  }
  .form-header {
    font-size: 1.2rem !important;
  }
  .geurilla {
    margin-top: 0.25rem;
    padding: 1px 4px;
  }
  .release-notification {
    font-size: 18px;
    width: -webkit-fill-available;
  }
  .release {
    padding: 3px 7px;
  }
  .error-msg {
    width: auto;
    margin-top: 0;
  }
}

